@model IEnumerable<student_management.Models.SinhVien>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Quản lý sinh viên</h1>
                </div>
                <div class="col-sm-6 text-right">
                    <a asp-action="Create" class="btn btn-success">
                        <i class="fas fa-plus-circle"></i> Thêm Sinh viên
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body table-responsive p-0">
                            <table class="table table-striped table-bordered text-center">
                                <thead>
                                    <tr>
                                        <th style="width: 10%">Mã sinh viên</th>
                                        <th style="width: 15%">Tên sinh viên</th>
                                        <th style="width: 15%">Ảnh</th>
                                        <th style="width: 5%">Ngày sinh</th>
                                        <th style="width: 10%">Email</th>
                                        <th style="width: 10%">Số điện thoại</th>
                                        <th style="width: 5%"> Lớp</th>
                                        <th style="width: 5%">Khoa</th>
                                        <th style="width: 10%">Năm nhập học</th>

                                        <th style="width: 15%">Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.MaSv)</td>
                                            <td>@Html.DisplayFor(modelItem => item.HoTen)</td>
                                            <td>
                                                @if (!string.IsNullOrEmpty(item.Anh))
                                                {
                                                    <img src="@item.Anh" alt="Ảnh giảng viên" width="80" height="80" style="object-fit:cover; border-radius:8px;" />
                                                }
                                                else
                                                {
                                                    <img src="~/images/default-avatar.png" width="80" height="80" style="object-fit:cover; border-radius:8px;" />
                                                }
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.NgaySinh)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                            <td>@Html.DisplayFor(modelItem => item.SoDienThoai)</td>
                                            <td>@Html.DisplayFor(modelItem => item.MaLop)</td>
                                            <td>@Html.DisplayFor(modelItem => item.MaKhoa)</td>
                                            <td>@Html.DisplayFor(modelItem => item.NamNhapHoc)</td>

                                            <td>
                                                <a asp-action="Edit" asp-route-id="@item.MaSv" class="btn btn-primary">Sửa</a>
                                                <a asp-action="Delete" asp-route-id="@item.MaSv" class="btn btn-danger">Xóa</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}